{{define "main"}}

<header class="list-header">
    <div class="container">
        <h1 class="list-title">{{ .Name }}</h1>
        <div class="post-time">
            Last-Modified at {{ .Date.Format "Jan 2, 2006" }} by {{ .Params.author }} GL
        </div>
    </div>
</header>

<div class="container">
    {{ $data := .Data }}
    <ul class="tags-terms">

        {{ range $key,$value := .Data.Terms.ByCount }}
        <li>
            <a href="{{ "/" | absLangURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}">
                <i class="ti-new-window"></i>
                <span class="count">{{ $value.Count }}</span>
                <div class="name">{{ $value.Name }}</div>
            </a>
        </li>
        {{ end }}
    </ul>
</div>

{{end}}