.navigation {
    background: #FFF;
    padding: 10px 0 10px;
    box-shadow: 0 2px 5px rgba(10, 10, 10, 0.1);
    border-bottom: 1px solid #eee;
    position: relative;
    z-index: 15;
    height: 70px;
    @media (max-width:575px) {
        height: auto;
    }

    .navbar {
        background-color: #FFF;
        padding: 0;
        @media (max-width:575px) {
            margin-left: -15px;
            margin-right: -15px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .navbar-brand {
            height: 50px;
            width: 60px;
            border-radius: 5px;
            color: #FFF;
            text-align: center;
            line-height: 50px;
            padding: 0;
            font-weight: bolder;
            font-size: 26px;
            svg,img{display: block; position: absolute; width: 70px; height: 70px; border-radius: 5px;}
        }

        .navbar-nav {
            
            .nav-link {
                padding: 12px 15px;
                color: #014;
            }

            .nav-item {
                position: relative;

                &.active {
                    font-weight: 600;
                }

                &.active::after {
                    content: " ";
                    position: absolute;
                    border-bottom: 3px solid $primary-color;
                    left: 15px;
                    right: 15px;
                    bottom: 5px;
                }
            }
            @media (max-width:991px) {
                margin-top: 30px;
                padding: 15px;
                .nav-item.active::after {content: none;}
            }

        }
    }    
}

.hero {
    background-color: #3c3d77;
    background-image: $background-image;
    background-size: cover;
    background-position: center bottom;
    padding: 80px 0;
    position: relative;

    .hero-svg{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;        
    }

    ul.hero-tags {
        height: 100%;
        position: relative;
        z-index: 10;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        align-content: center;

        li {
            margin: 5px;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 230px;

            a {
                background-color: #fff;
                box-shadow: 0 2px 8px 0 rgba(10, 10, 10, .1);
                border-radius: 3px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-self: stretch;
                padding: 1rem;
                text-decoration: none;
                color: #566;
                position: relative;

                &:hover {
                    color: $primary-color;
                    border-color: lighten($primary-color, 30%)
                }

                .icon {
                    font-weight: 600;
                    width: 48px;
                    i{
                        font-size: 36px;
                        display: block;
                        width: 48px;
                        text-align: center;
                        color: #0069ff;
                      }
                    img{width: 100%; display: block;}
                }

                .text {
                    flex: 1;
                    padding-left: 1rem;

                    .caption {
                        font-size: .8rem;
                        margin-bottom: .2rem;
                        color: #aaa;
                    }
                }
            }
        }
    }

}

.wisdom{
    margin: 5px;
    color: #c3e3ff;
    display: none;
    font-family: monospace;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    .wisdom-content{
        padding: 2rem;
        background-color: rgba($color: #000000, $alpha: 0.1);
        font-size: 18px;
        position: relative;
        border-radius: 5px;
        line-height: 2rem;
    }
    .wisdom-about{
        margin-top: 1rem;
        text-align: right;
        font-style: italic;
        &::before{
            content: "————";
            margin-right: 1rem;
        }
    }
    &.loaded{
        display: flex;
    }
}

#navbox-dialog{
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    top:75px;
    left: 0;
    right: 0;
    border: 1rem solid #EEE;
    display: none;

    a{display: block; flex: none;}
}