$background-image:linear-gradient(160deg,#673AB7 50%,#40268c 100% );
// $background-image:linear-gradient(160deg,var(--red) 50%,var(--orange) 100%);

$primary-color:#0069ff;
$box-shadow: 0 2px 8px 0 rgba(10,10,10,.1);