<div class="hero">
  <div class="hero-svg" id="hero-svg"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <ul class="hero-tags">
          <!-- {{.Site.Taxonomies.tags.building.Count}} -->

          {{ $tags := .Site.Taxonomies.tags }}
          {{ $data := .Data }}

          {{ range $key, $value := .Site.Data.tagmeta.data }}
          <li>
            {{ $keywords := split $value.identifier " " }}
            {{ $sets := slice}}

            {{ range $item := $keywords}}
              {{ $articles := index $tags (lower $item)}}

              {{ range $article := $articles}}
                {{ $sets = $sets | append $article.Title }}
              {{ end }}
              
            {{ end }}

            <a href="/tags/{{ index $keywords 0 | urlize }}" data-keywords="{{$value.identifier}}">
              <div class="icon">
                {{ if $value.isImage }}
                <img src="{{ $value.icon }}">
                {{ else }}
                <i class="{{ $value.icon }}"></i>
                {{ end }}
              </div>
              <div class="text">
                <div class="caption">{{ len (uniq $sets) }}</div>
                <div class="title">{{ $value.name }}</div>
              </div>
              <label for=""></label>
              <span class="number"></span>
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-xl-6">
        <div class="wisdom">
          <div class="wisdom-content"></div>
          <div class="wisdom-about"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="navbox-dialog"></div>