<footer class="page-footer">
    <div class="container">
        <div class="copyright">
            <pre><code>$ echo "simple things scale." </code></pre>
            <ul>
                <li><a href="https://gauliang.github.io">Home page</a></li>
                <li><a href="https://gauliang.github.io"><i class="ti-info-alt"></i> about</a></li>
                <li><a href="https://github.com/gauliang" target="_blank"><i class="ti-github"></i> GitHub</a></li>
            </ul>
        </div>
    </div>
</footer>

<a id="scroll-to-top" href="javascript:void(0);">Scroll to top</a>

<script src="/vendor/jquery/jquery-3.4.1.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/svgjs/svg.min.js"></script>
<script src="/js/javascript.js"></script>